* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.page {
 min-height: 100vh;
 .area-content {
  color: #000;
  width: 100%;
  background-color: #EEE;
  height: 100vh;
  transition: all .3s;
  float: right;
  &.no-sidebar {
   width: calc(100% - 250px);
  }
 }
}

