.page {
 .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 15px;
  background-color: #6f6f6f;
  will-change: width;
  transition: all .3s;
 }
}