- let title = "Charts"
doctype
html(lang = 'en')
  head
    include pug/layout/meta
  body
    .page.home-page
      include pug/components/settings-box
      include pug/layout/sidebar
      .area-content
        include pug/layout/header
        .container-fluid
          include pug/layout/page-title
    include pug/layout/scripts