- let title = "Home Page"
doctype
html(lang = 'en')
  head
    include pug/layout/meta
  body
    .page.home-page
      include pug/layout/sidebar
      .area-content
        .header
          i.fa-solid.fa-exchange.toggle-sidebar
        .container-fluid
          include pug/layout/page-title
    include pug/layout/scripts