- let title = "Home Page"
doctype
html(lang = 'en')
  head
    include pug/layout/meta
  body
    .page.home-page
      include pug/layout/sidebar
      .area-content
        .header
          i.fa-solid.fa-exchange.toggle-sidebar
        .container-fluid
          .content
            h1  #{title}
            p.page-description.lead this is Description of #{title}
    include pug/layout/scripts