.setting-box.hide-box
  .toggle-gear
    i.fa.fa-gear
  .content-box.text-center
    .box-option.color-options
      h5 color
      -let colors = ["green-theme" , "blue-theme" , "red-theme", "orange-theme", "purple-theme", "midnight-theme"];
      ul.list-unstyled
        each color in colors
          li(data-theme = color)
    .box-option
      h5 font size
    .box-option
      h5 side bar