.setting-box.hide-box
  .toggle-gear
    i.fa.fa-gear
  .content-box.text-center.mt-2
    .box-option
      h5 color
      .color-options
        - let colors = [""];
        .ul.list-unstyled

    .box-option
      h5 font size
    .box-option
      h5 side bar