.setting-box.hide-box
  .toggle-gear
    i.fa.fa-gear
  .content-box.text-center.mt-2
    .box-option
      h4 option box
    .box-option
      h4 option box
    .box-option
      h4 option box
    .box-option
      h4 option box